.switcher-popup {
  padding: 8px;
  spacing: 16px;
}

.osd-window,
.resize-popup,
.switcher-list {
  @extend %osd-panel;
}

.switcher-list-item-container { spacing: 8px;  }

.switcher-list .item-box {
  padding: 8px;
  border-radius: 3px;
}

.switcher-list .item-box:outlined {
  padding: 6px;
  border: 2px solid darken($borders_color,10%);
}

.switcher-list .item-box:selected {
  background-color: $selected_bg_color;
  color: $selected_fg_color;
}

.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}

.switcher-list .thumbnail {
  width:  256px;
}

.switcher-list .separator {
  width: 1px;
  background: $borders_color;
}

.switcher-arrow {
  border-color: rgba(0,0,0,0);
  color: transparentize($fg_color,0.2);
  &:highlighted {
    color: $fg_color;
  }
}

.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}
