/* Buttons */
.button {
  border-radius: 3px;
  border-width: 1px;
  padding: 4px 32px;
  @include button(normal);
  &:focus { @include button(focus); }
  &:insensitive { @include button(insensitive); }
  &:active { @include button(active); }

}

.modal-dialog-linked-button {
  border-right-width: 1px;
  @include button(normal);
  &:insensitive { @include button(insensitive); }
  &:active { @include button(active); }
  &:focus { @include button(focus); }
  padding: 12px;

  &:first-child {
    border-radius: 0px 0px 0px 3px;
  }
  &:last-child {
    border-right-width: 0px;
    border-radius: 0px 0px 3px 0px;
  }
  &:first-child:last-child {
    border-right-width: 0px;
    border-radius: 0px 0px 3px 3px;
  }
}
