// calendar popover
#calendarArea {
  padding: 0.75em 1.0em;
}

.calendar {
  margin-bottom: 1em;
}

.calendar,
.datemenu-today-button,
.datemenu-displays-box,
.message-list-sections {
  margin: 0 1.5em;
}

.datemenu-calendar-column {
  spacing: 0.5em;
}
.datemenu-displays-section {
  padding-bottom: 3em;
}

.datemenu-today-button,
.world-clocks-button,
.message-list-section-title {
  border-radius: 3px;
  padding: .4em;
}

.message-list-section-list:ltr {
  padding-left: .4em;
}

.message-list-section-list:rtl {
  padding-right: .4em;
}

.datemenu-today-button,
.world-clocks-button,
.message-list-section-title {
  &:hover,&:focus {
    background-color: lighten($bg_color,5%);
  }
  &:active {
    color: lighten($selected_fg_color,5%);
    background-color: $selected_bg_color;
  }
}

.datemenu-today-button .day-label {
}

.datemenu-today-button .date-label {
  font-size: 1.5em;
}

.world-clocks-header,
.message-list-section-title {
  color: darken($fg_color,40%);
  font-weight: bold;
}

.world-clocks-grid {
  spacing-rows: 0.4em;
}

.calendar-month-label {
  color: darken($fg_color,5%);
  font-weight: bold;
  padding: 8px 0;
  &:focus {}
}

.pager-button {
  color: white;
  background-color: transparent;
  width: 32px;
  border-radius: 3px;
  &:hover, &:focus { background-color: transparentize($fg_color,0.95); }
  &:active { background-color: transparentize($bg_color,0.95); }
}

.calendar-change-month-back { //arrow back
  background-image: url($img-calendar-arrow-left);
  &:rtl {
    background-image: url($img-calendar-arrow-right);
  }
}
.calendar-change-month-forward { //arrow foreward
  background-image: url($img-calendar-arrow-right);
  &:rtl {
    background-image: url($img-calendar-arrow-left);
  }
}

.calendar-day-base {
  font-size: 80%;
  text-align: center;
  width: 2.4em; height: 2.4em;
  padding: 0.1em;
  margin: 2px;
  border-radius: 1.4em; //round
  &:hover,&:focus {
    background-color: lighten($bg_color,5%);
  }
  &:active {
    color: lighten($selected_fg_color,5%);
    background-color: $selected_bg_color;
    border-color: transparent; //avoid jumparound due to today
  }
  &.calendar-day-heading {  //day of week heading
    color: darken($fg_color,40%);
    margin-top: 1em;
    font-size: 70%;
  }
}
.calendar-day { //border collapse hack - see calendar.js
  border-width: 0;
}
.calendar-day-top { border-top-width: 1px; }
.calendar-day-left { border-left-width: 1px; }
.calendar-work-day {

}
.calendar-nonwork-day {
  color: $insensitive_fg_color;
}
.calendar-today {
  font-weight: bold;
  //color: lighten($fg_color,10%);
  //background-color: darken($bg_color,5%);
  border: 1px solid transparentize($borders_color,0.5);
}
.calendar-day-with-events {
  color: lighten($fg_color,10%);
  font-weight: bold;
  background-image: url($img-calendar-today);
}
.calendar-other-month-day {
  color: transparentize($fg_color,0.85);
  opacity: 0.5;
}

/* Message list */
.message-list {
  width: 420px;
}

.message-list-sections {
  spacing: 1.5em;
}

.message-list-section,
.message-list-section-list {
  spacing: 0.7em;
}

.message-list-section-title-box {
  spacing: 0.4em;
}

.message-list-section-close > StIcon {
  icon-size: 16px;
  border-radius: 8px;
  color: $bg_color;
  background-color: darken($fg_color,60%);
}

/* FIXME: how do you do this in sass? */
.message-list-section-close:hover > StIcon,
.message-list-section-close:focus > StIcon {
  background-color: darken($fg_color,40%);
}

.message {
  background-color: lighten($bg_color,5%);
  &:hover,&:focus {
    background-color: lighten($bg_color,15%);
  }
  border-radius: 3px;
}

.message-icon-bin {
  padding: 8px 0px 8px 8px;
  &:rtl {
    padding: 8px 8px 8px 0px;
  }
}

.message-icon-bin > StIcon {
  icon-size: 32px;
}

.message-secondary-bin {
  &:ltr {
    padding-left: 8px;
  }
  &:rtl {
    padding-right: 8px;
  }
}

.message-secondary-bin {
  color: darken($fg_color,40%);
}

.message-secondary-bin > StIcon {
  icon-size: 16px;
}

.message-title {
  font-weight: bold;
  font-size: 1.1em;
}

.message-content {
  padding: 8px;
  font-size: .9em;
}
