

$panel-corner-radius: 3px;

/* GLOBALS */
$font-size: 11;
$font-family: Roboto, Cantarell, Sans-Serif;
$_bubble_bg_color: opacify($osd_bg_color,0.25);
$_bubble_fg_color: $osd_fg_color;
$_bubble_borders_color: transparentize($osd_fg_color,0.8);

stage {
  font-family: $font-family;
  @include fontsize($font-size);
  color: $fg_color;
}



/* Entries */
StEntry {
  border-radius: 3px;
  padding: 4px;
  border-width: 1px;
  color: $fg_color;
  @include entry(normal);
  //&:hover { @include entry(hover);}
  &:focus { @include entry(focus,$fc:transparentize($fg_color,0.5));}
  &:insensitive { @include entry(insensitive);}
  selection-background-color: $selected_bg_color;
  selected-color: $selected_fg_color;
  StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: $warning_color;
    padding: 0 4px;
  }
}


/* Scrollbars */

StScrollView {
  &.vfade { -st-vfade-offset: 68px; }
  &.hfade { -st-hfade-offset: 68px; }
}

StScrollBar {
  padding: 0;

  StScrollView & {
    min-width: 14px;
    min-height: 14px;
  }

  StBin#trough {
    border-radius: 0;
    background-color: transparent;
  }

  StButton#vhandle, StButton#hhandle {
    border-radius: 8px;
    background-color: mix($fg_color, $bg_color, 60%);
    //border: 3px solid transparent; //would be nice to margin or at least to transparent
    margin: 3px;
    &:hover { background-color: mix($fg_color, $bg_color, 80%); }
    &:active { background-color: $selected_bg_color; }
  }
}

/* Slider */

.slider {
  height: 1em;
  -slider-height: 0.3em;
  -slider-background-color: $insensitive_bg_color; //background of the trough
  -slider-border-color: $borders_color; //trough border color
  -slider-active-background-color: $selected_bg_color; //active trough fill
  -slider-active-border-color: darken($selected_bg_color,10%); //active trough border
  -slider-border-width: 1px;
  -slider-handle-radius: 8px;
  color: $selected_bg_color;
}

/* Check Boxes */

.check-box {
  StBoxLayout { spacing: .8em; }
  StBin {
    width: 24px;
    height: 22px;
    background-image: url("resource:///org/gnome/shell/theme/checkbox-off.svg");
  }
  &:focus StBin { background-image: url("resource:///org/gnome/shell/theme/checkbox-off-focused.svg"); }
  &:checked StBin { background-image: url("resource:///org/gnome/shell/theme/checkbox.svg"); }
  &:focus:checked StBin { background-image: url("resource:///org/gnome/shell/theme/checkbox-focused.svg"); }
}

/* Switches */
.toggle-switch {
  width: 65px;
  height: 22px;
  background-size: contain;
}

  @each $v in us, intl {
    .toggle-switch-#{$v} {
      background-image: url("resource:///org/gnome/shell/theme/toggle-off-#{$v}.svg");
      &:checked { background-image: url("resource:///org/gnome/shell/theme/toggle-on-#{$v}.svg"); }
    }
  }

/* links */
.shell-link {
  color: $link_color;
  &:hover { color: lighten($link_color,10%); }
}


  // a little unstructured mess:

  .system-switch-user-submenu-icon.user-icon {
    icon-size: 20px;
    padding: 0 2px;
  }
  .system-switch-user-submenu-icon.default-icon {
    icon-size: 16px;
    padding: 0 4px;
  }

  #appMenu {
    spinner-image: url("resource:///org/gnome/shell/theme/process-working.svg");
    spacing: 4px;

    .label-shadow { color: transparent; }
  }

  .aggregate-menu {
    width: 280px;
    .popup-menu-icon { padding: 0 4px; }
  }

  .system-menu-action {
    color: $fg_color;
    border-radius: 32px; /* wish we could do 50% 32px default */ //Do buttons square?
    padding: 13px;
    border: 1px solid lighten($borders_color,5%);

    &:hover, &:focus {
      background-color: transparentize($fg_color,0.9);
      color: $fg_color;
      border: none;
      padding: 14px;
    }
    &:active { background-color: $selected_bg_color; color: $selected_fg_color; }

    & > StIcon { icon-size: 16px; }
  }

//Activities Ripples
.ripple-box {
  width: 52px;
  height: 52px;
  background-image: url("resource:///org/gnome/shell/theme/corner-ripple-ltr.png");
  background-size: contain;
}

.ripple-box:rtl {
  background-image: url("resource:///org/gnome/shell/theme/corner-ripple-rtl.png");
}

// not really top bar only
.popup-menu-arrow { width: 16px; height: 16px; }
.popup-menu-icon { icon-size: 1.09em; }

//close buttons

.window-close {
  background-image: url("resource:///org/gnome/shell/theme/close-window.svg");
  background-size: 32px;
  height: 32px;
  width: 32px;
}
  .window-close {
    -shell-close-overlap: 16px;
    &:rtl { -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5); }
  }
