/* DASHBOARD */

#dash {
  font-size: 9pt;
  color: $_bubble_fg_color;
  background-color: $_bubble_bg_color;
  padding: 4px 0;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-left: 0px;
  border-radius: 0px 3px 3px 3px;

  &:rtl {
    border-radius: 3px 0 0 3px;
  }

  .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-size: contain;
    height: 24px;
  }

  .empty-dash-drop-target {
    width: 24px;
    height: 24px;
  }
}

.dash-item-container > StWidget {
  padding: 4px 8px;
}

.dash-label { //osd tooltip
  border-radius: 3px;
  padding: 4px 12px;
  color: $osd_fg_color;
  background-color: transparentize($osd_bg_color,0.3);
  text-align: center;
  -x-offset: 8px;
}

/* App Vault/Grid */
.icon-grid {
  spacing: 30px;
  -shell-grid-horizontal-item-size: 136px;
  -shell-grid-vertical-item-size: 136px;

  .overview-icon { icon-size: 96px; }
}

/*.overview-icon-with-label {
    background:#F5F7FA;
} */

.overview-icon-with-label > StWidget > StWidget:last-child {
  //background:#7B7D85;
  color:#F5F7FA;
  //border-radius: 3px;
  //padding: 3px;
}
//.app-display { spacing: 20px; }

.app-view-controls { //favorties | all toggle container
  padding-bottom: 32px;
}
.app-view-control { //favorties | all toggle button
  padding: 4px 32px;
  &:checked { @include button(active); }
  &:first-child {
    border-right-width: 0;
    border-radius: 3px 0 0 3px;
  }
  &:last-child {
   border-radius: 0 3px 3px 0;
  }
}

//Icon tile
.search-provider-icon,
.list-search-result {
  @extend %icon_tile;
  &:active, &:checked { background-color: transparentize(darken($osd_bg_color,10%),.1); }
  &:focus, &:selected, &:hover {
    background-color: transparentize($osd_fg_color,.9);
    transition-duration: 200ms;
  }
}
.app-well-app,
.app-well-app.app-folder,
.show-apps,
.grid-search-result {
  & .overview-icon {
    @extend %icon_tile;
  }
  &:active .overview-icon,
  &:checked .overview-icon {
    background-color: transparentize(darken($osd_bg_color,10%),.1);
    box-shadow: inset 0 1px 2px $osd_borders_color;
  }
  &:hover .overview-icon,
  &:focus .overview-icon,
  &:selected .overview-icon {
    background-color: transparentize($osd_fg_color,.9);
    transition-duration: 0ms;
    border-image: none;
    background-image: none;
  }

}

.app-well-app-running-dot { //running apps indicator
  width: 10px; height: 3px;
  background-color: $selected_bg_color;
  margin-bottom: 2px;
}

%icon_tile {
  color: $osd_fg_color;
  border-radius: 4px;
  padding: 6px;
  border: 1px solid transparent;
  transition-duration: 100ms;
  text-align: center;
}

.app-well-app.app-folder > .overview-icon {
  background-color: transparentize($osd_bg_color,.6);
}


.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon {
  color: white;
  transition-duration: 100ms;
}
